.editor {
  height: 100vh;
}

@font-face {
  font-family: "Impact";
  src: url(https://fonts.gstatic.com/l/font?kit=HhyVU5gq9PCuP11_ItCH&skey=5128cd07406988e&v=v19) format('woff2');
}

@font-face {
  font-family: "Impact-meme";
  src: url(https://fonts.gstatic.com/l/font?kit=HhyVU5gq9PCuP11_ItCH&skey=5128cd07406988e&v=v19) format('woff2');
}