.editor {
  height: 100vh;
}

@font-face {
  font-family: "Impact";
  src: url("../../fonts/impact.ttf"/*https://fonts.gstatic.com/l/font?kit=HhyVU5gq9PCuP11_ItCH&skey=5128cd07406988e&v=v19*/) format('woff2');
}

@font-face {
  font-family: "Impact-meme";
  src: url("../../fonts/meme.ttf"/*https://fonts.gstatic.com/l/font?kit=HhyVU5gq9PCuP11_ItCH&skey=5128cd07406988e&v=v19*/) format('woff2');
}

.gotoBack{
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  color: #aaa;
  position: absolute;
  left: 50px;
  top: 25px;
  padding-top: 10px;
  height: 50px;
  width: 100px;
  z-index: 5;
  cursor: pointer;
  &:hover{
    svg{
      margin-left: -5px;
      margin-right: 5px;
    }
  }
}