body {
  .textField {
    border: none;

    & * {
      font-family: $font-tertiary;
      color: $white;
      font-weight: 300;
      font-size: 14px;
    }

    :global(.MuiInputBase-root) {
      transition: all 0.3s;
      border-radius: 0;

      :global(.MuiOutlinedInput-notchedOutline) {
        border: 0;
        border-radius: 0;
        transition: all 0.3s;
      }

      input {
        border-bottom: 1px solid transparent !important;
        transition: all 0.3s;
        padding: 8px 12px;
        border: 1px solid $dark-150 !important;
      }

      input:hover {
        background: $dark-150;
        cursor: pointer;
      }

      &:global(.Mui-focused) {
        background: $dark-150;

        input {
          cursor: text;
          border-bottom: 1px solid $gray-50 !important;
        }
      }
    }
  }
}
