.container {
  box-sizing: border-box;
  padding: 40px;

  section.heading {
    display: flex;
    width: 100%;
    border-bottom: 1px solid $dark-100;
    padding-bottom: 20px;

    .title {
      font-size: 20px;
      text-transform: uppercase;
      display: flex;
      flex-direction: row;
      align-items: center;

      justify-content: space-between;
      width: 100%;
    }
  }

}

.search {
  background-color: #1A1B1C;
  color: white;
  border: 0px solid;
  outline: none;

  padding-left: 25px;
  background-image: url('../../../Icons/search.svg');
  background-repeat: no-repeat;
  background-size: 20px 20px;
  background-position: left center;
}

.meme {
  display: flex;
  align-items: center;
  width: 150px;
  padding: 10px;
  gap: 10px;

  cursor: pointer;
}
