
.modal {
  :global(.MuiDialog-paper) {
    width: 100px;
    text-align: center;
    align-items: center;
    .title{
      font-size: 20px;
      font-weight: bold;
    }

    .actions {
      display: flex;
      place-content: center;
      column-gap: 10px;
      margin-top: 20px;

      .button {
        border: 1px solid $dark-150;

        &:hover {
          background: $dark-150;
        }
      }

      .submit {
        background: $gray-200;
        color: $dark-50 !important;
      }
    }
  }
}

.logo {
  width: 30px;
  margin-right: 10px;
}
