// primary colors
$black: black;
$white: #dddad5;

// dark series
$dark-50: #181a1b;
$dark-75: #212425;
$dark-100: #2a2a2a;
$dark-150: #3d3d3d;
$dark-200: #565656;

// gray series
$gray-50: #999999;
$gray-100: #a9a9a9;
$gray-150: #bbbbbb;
$gray-200: #d6d6d6;

// masks
$dialog-mask: rgba(0, 0, 0, 0.3);

// box shadows
$widget-shadow: 0 0 20px 0px rgb(255 255 255 / 14%);
$drawer-shadow: -13px 0 20px 0px rgb(255 255 255 / 1%);
$dropdown-shadow: rgb(0 0 0 / 12%) 0px 8px 4px, rgb(0 0 0 / 24%) 0px 8px 16px;
